# .env.example
GROQ_API_KEY=your_groq_api_key_here
LLM_MODEL_NAME=qwen/qwen3.8-27b
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
WEBHOOK_BASE_URL=your_ngrok_tunel_url
LANGFLOW_BASE_URL=http://localhost:7860
LANGFLOW_FLOW_ID=your_langflow_flow_id_here
LANGFLOW_API_KEY=your_langflow_api_key_here
DATABASE_URL=sqlite:///./settlement_agent.db
